html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-size: 4.4444vw;
  line-height: 5.8333vw;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

#root {
  flex: 1;
  background-color: #18191e;
  max-height: 56.25em;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#root::-webkit-scrollbar {
  display: none;
}
